#drivyPic{
width:800px;
height:auto;
}

#esilvPic{
margin-top:40px;
margin-left:250px;
width:100px;
height:auto;
}

#compute{
margin-left:150px;
margin-top:30px;
width:200px;
height:50px; 
}

#actors{
line-height:40px;
font-size:150%;	
margin-left:150px;
margin-top:50px;
margin-bottom:50px;
}	

.welcome{
font-size:350%;	
margin-left:100px;
color:red;
}

.informations{
font-size:200%;	
margin:50px;
color:blue;
}


